<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Klaverjas Score DHK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Klaverjas Score DHK</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="assets/klaverboer.png" class="home-klaverboer"><br>
    <ion-button routerLink="/start-boom">Nieuwe boom</ion-button><br>
    <ion-button routerLink="/scoreblad-boom" *ngIf="existingGame">Boom hervatten</ion-button><br>
    <ion-button>Toernooi #ntm</ion-button><br>
    <ion-button>Historie #ntm</ion-button>
  </div>
</ion-content>
