<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Scoreblad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scoreblad</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="scoreblad">
    <ion-row>
      <ion-col><h2>Wij</h2></ion-col>
      <ion-col></ion-col>
      <ion-col><h2>Zij</h2></ion-col>
      <ion-col></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>{{ score.boom.speler1 }}</ion-col>
    <ion-col>{{ score.boom.speler2 }}</ion-col>
    <ion-col>{{ score.boom.speler3 }}</ion-col>
    <ion-col>{{ score.boom.speler4 }}</ion-col>
  </ion-row>

  <!-- Score invoer -->
  <ion-row>
    <ion-col><ion-input placeholder="Score wij" [clearInput]="true" (ionInput)="berekenScore($event, 'wij')"></ion-input></ion-col>
    <ion-col><ion-button (click)="addRoem(20, 'wij')">20</ion-button><ion-button (click)="addRoem(50, 'wij')">50</ion-button>
      <ion-button (click)="addRoem(100, 'wij')">100</ion-button><ion-button color="danger" (click)="resetRoem('wij')">X</ion-button></ion-col>
    <ion-col><ion-input placeholder="Score zij" [clearInput]="true" (ionInput)="berekenScore($event, 'zij')"></ion-input></ion-col>
    <ion-col><ion-button (click)="addRoem(20, 'zij')">20</ion-button><ion-button (click)="addRoem(50, 'zij')">50</ion-button>
      <ion-button (click)="addRoem(100, 'zij')">100</ion-button><ion-button color="danger" (click)="resetRoem('zij')">X</ion-button></ion-col>
  </ion-row>

  <ion-row>
    <ion-col><ion-input disabled>{{ scoreWij }}</ion-input></ion-col>
    <ion-col><ion-input disabled>{{ roemWij }}</ion-input></ion-col>
    <ion-col><ion-input disabled>{{ scoreZij }}</ion-input></ion-col>
    <ion-col><ion-input disabled>{{ roemZij }}</ion-input></ion-col>
  </ion-row>

  </ion-grid>

  <p style="text-align: center;"><ion-button color="success" (click)="verwerkScore()">Verwerk ronde &raquo;</ion-button>
  <ion-button color="warning" (click)="laasteScoreUndo()">&laquo; Ronde terug</ion-button></p><br>

  <ion-grid>
    <ion-row>
      <ion-col><b>Score</b></ion-col>
      <ion-col><b>Roem</b></ion-col>
      <ion-col><b>Ronde</b></ion-col>
      <ion-col><b>Score</b></ion-col>
      <ion-col><b>Roem</b></ion-col>
    </ion-row>

     <!-- Scoreblad -->  
    <ion-row *ngFor="let rij of score.boom.scores">
      <ion-col>{{ rij.puntenWij }}</ion-col>
      <ion-col>{{ rij.roemWij }}</ion-col>
      <ion-col><i>{{ rij.ronde }}</i></ion-col>
      <ion-col>{{ rij.puntenZij }}</ion-col>
      <ion-col>{{ rij.roemZij }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col><b>Totaal</b></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col><b>Totaal</b></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>{{ score.boom.puntenWij }}</b></ion-col>
      <ion-col><b>{{ score.boom.roemWij }}</b></ion-col>
      <ion-col></ion-col>
      <ion-col><b>{{ score.boom.puntenZij }}</b></ion-col>
      <ion-col><b>{{ score.boom.roemZij }}</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{ score.boom.totaalWij }}</ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>{{ score.boom.totaalZij }}</ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>